.Header {
  background: #212121;
  height: 67px;
}

.ContactIcon {
  margin-top: 17px;
  margin-left: 27px;
}
.MyContacts {
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  margin-top: -40px;
  margin-left: 68px;
}
